<!-- Need to see if there is a way to display
"No requests" if there are no requests -->
<% if(!users.is_approved) { %>
  <tr>
    <th scope="row"><%= users.id %></th>
    <td><%= users.name %></td>
    <td><%= users.email %></td>
    <td><%= users.username %></td>
    <% if(users.is_admin) { %>
      <td>Admin</td>
    <% } else { %>
      <td>User</td>
    <% } %>
    <td><a class="btn btn-success btn-sm" href="#" role="button">Approve</a></td>
  </tr>
<% } %>
