<%- include('../layout/header', {title: title, user: user}) %>
<link href="/css/index.css" rel="stylesheet" type="text/css">

  <div class="page-header text-center" style="margin-top: 10px">
      <h1 id="heading">Search Results</h1>
  </div>

  <table  id="table" data-toggle="table" class="col-md-12">
    <thead>
      <tr>
        <th data-field="uid">Id#</th>
        <th data-field="uname">Name</th>
        <th data-field="uemail">Email</th>
        <th data-field="uusername">Username</th>
        <th data-field="userrole">Role</th>
        <th data-field="verified">Verified</th>
        <th data-field="pending">Pending Actions</th>
        <th data-field="lastdate">Modified By</th>
        <th data-field="modifiedby">Modified On</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(u) { %>
        <%- include('_users', {users: u}) %>
      <% }); %>
    </tbody>
  </table> <!-- End Table -->


<%- include('../layout/footer') %>
