<%- include('../layout/header', {title: title, user: user}) %>
<link href="/css/index.css" rel="stylesheet" type="text/css">

  <div class="page-header text-center" style="margin-top: 10px">
      <h1 id="heading">Search Results</h1>
  </div>

  <table  id="table" data-toggle="table" class="col-md-12">
    <thead>
      <tr>
        <th data-field="donortag">Donor Tag</th>
        <th data-field="donorname">Donor Name</th>
        <th data-field="freezedate">Freeze Date</th>
        <th data-field="estrusonsetdate">Estrus On Set Date</th>
        <th data-field="breeddate">Breed Date</th>
        <th data-field="recoverydate">Recovery Date</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
        <%- include('results_row', {results: result}) %>
      <% }); %>
    </tbody>
  </table> <!-- End Table -->


<%- include('../layout/footer') %>
