<%- include('../layout/header', {title: title, user: user}) %>
<div class="container">
  <h1 style="margin-top: 30px">Cross Country Genetics Home</h1>
  <div class="btn-group" style="margin-top: 30px; margin-bottom: 10px">
    <button type="button" class="btn btn-primary">Create New Form</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/formAbc">Embryo Transfer and Freezing From</a>
      <a class="dropdown-item" href="/firstForm">Donor Stimulation & Breeding Record</a>
      <a class="dropdown-item" href="/caneCodeLog">Cane Code Log</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Donor Cow Enrollment Form</a>
      <a class="dropdown-item" href="#">Reproductive Tract Exams And Treatments</a>
    </div>
  </div>

  <hr>
  <div class="form-group" style="margin-top: 20px">
    <label for="searchForm" style="margin-left: 10px">Search Existing Form</label>
    <input type="number" class="form-control" id="searchInput" placeholder="Enter form 'tag' or 'tattoo' - ex. 550">
  </div>
</div>
<%- include('../layout/footer') %>
