<%- include('../layout/header', {title: "Cane Code", cane: cane}) %>
<% title = "Cane Code" %>
<link href="/css/form.css" rel="stylesheet" type="text/css">
<br /><br />
<div id="page">
  <div id="container">
    <center><label style="font-size: 21px;">Cane Code Log</label></center>
    <table class="table table-striped table-hover" style="border: 3px solid black;">
      <thead style="background-color: #292b2c; color: white">
        <tr>
          <th><span>Cane Code</span></th>
          <th><span>LOC</span></th>
          <th><span>Freeze Date</span></th>
          <th><span>Client</span></th>
          <th><span>Donor</span></th>
          <th><span>Sire</span></th>
          <th><span>Grade 1</span></th>
          <th><span>Grade 2</span></th>
          <th><span>Grade 3</span></th>
          <th><span>Total</span></th>
          <th><span>Age</span></th>
        </tr>
      </thead>
      <tbody>
        <% cane.forEach(function(c) { %>
          <%- include('_canerow', {cane: c}) %>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../layout/footer') %>
