<%- include('../layout/header', {title: "Cane Code", cane: cane}) %>
<% title = "Cane Code" %>
<link href="/css/form.css" rel="stylesheet" type="text/css">
<div id="page">
  <div id="container">
    <table>
      <thead>
        <tr>
          <th><span>Cane Code</span></th>
          <th><span>LOC</span></th>
          <th><span>Freeze Date</span></th>
          <th><span>Client</span></th>
          <th><span>Donor</span></th>
          <th><span>Sire</span></th>
          <th><span>G1</span></th>
          <th><span>G2</span></th>
          <th><span>G3</span></th>
          <th><span>Total</span></th>
          <th><span>Age</span></th>
        </tr>
      </thead>
      <tbody>
        <% cane.forEach(function(c) { %>
          <%- include('_canerow', {cane: c}) %>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../layout/footer') %>
