#container{
	width: 800px;
	margin: 0 auto;
	border: 3px solid black;
	background-color:white;
}

span{
	font-weight: bold;
	font-size: 10px;
	white-space: initial;
}

input[type="text"]{
	border: 0;
    border-bottom: 1px solid;
	outline: none;
	max-width: 100%;
}

label{
	display: inline-block;
}

.center{
	display: table;
	margin: 0 auto;
}

td{
	max-width: 100%;
	white-space: nowrap !important;
}
td > input[type='text']
{
    width: 100%; /*this will set the width of the textbox equal to its container td*/
}
table{
	table-layout: fixed;
	width: 100%;
}

.smallLine{
	width: 100% !important;
}

td > span{
	word-wrap: break-word !important;
}

.indent{
	text-indent: 25px;
}

hr{
	margin-left: 3%;
	margin-right: 3%;
}

input{
	font-size: 10px;
}

#page{
	background-color: #f2f2f2;
	position: fixed;
	width: 100%;
	height: 100%;
	display: overflow;
}