<%- include('../layout/header', {title: title, user: user}) %>
<div class="alert alert-success" role="alert">
<h1>
  <p class="text-xs-center">
    Logged Out!
  </p>
</h1>
 </div>
 <p class="text-xs-center">
   Login back in<a href="/login"> here.</a>
 </p>
<%- include('../layout/footer') %>
