<%/* Second form in transfer/freezing process */%>
<%- include('../layout/header', {title: "Form", user: user}) %>
<% title = "Form" %>
<link href="/css/form.css" rel="stylesheet" type="text/css">
<!--<script src="/jquery/formAbc.js"></script>-->

<style>
iframe{
	width: 100%;
	height: 100%;
}

#iframe-wrapper{
	text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
	position: absolute;
	display: none;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
	//position: absolute;
	//text-align: center;
}

#plusB, #minusB, #close {
	cursor: pointer;
}

#container{
	opacity: 1.0;
}

</style>
	<div id="window">
		<div id="page">
			<div id="container">
				<div id="sectionA">
					<span class="center"><b>A. CERTIFICATE OF EMBRYO RECOVERY</b></span>
					<table>
						<thead>
						</thead>
						<tbody>
							<tr>
								<td colspan=1><span>Breed </span><input type="text" id="breed" name="breed"></td>
								<td colspan=2></td>
								<td colspan=1><span>Tag or Tattoo </span><input type="text" id="tag" name="tag"></td>
							</tr>
							<tr>
								<td colspan=1><span>Donor Name </span><input type="text" id="donor" name="donor"></td>
								<td colspan=2><span>Reg. No. </span><input type="text" id="regNum1" name="regNum1"></td>
								<td colspan=1><span>Blood Typed </span>
									<select class="smallFont" id="tag" name="tag">
										<option class="smallFont" value="yes">Yes</option>
										<option class="smallFont" value="no">No</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan=1><span>Owner </span><input type="text" id="owner" name="owner"></td>
								<td colspan=3><span>Address </span><input type="text" id="address" name="address"></td>
							</tr>
							<tr>
								<td colspan=1><span>Service Sire </span><input type="text" id="serviceSire1" name="serviceSire1"></td>
								<td colspan=1><span>Reg. No. </span><input type="text" id="regNum2" name="regNum2"></td>
								<td></td>
								<td colspan=1><span>Estrus Onset </span><input style="width: 78%;" type="text" class="datepicker" id="estrusOnset" name="estrusOnset"><select class="smallFont"><option class="smallFont" value="am">AM</option><option class="smallFont" value="pm">PM</option></select></td>
							</tr>
							<tr>
								<td colspan=1 class="indent"><span class="indent">I.D. Code </span><input class="indent" type="text" id="idCode1" name="idCode1"></td>
								<td colspan=1><span>Freeze Date or Batch No. </span><input type="text" id="freezeDate1" name="freezeDate1"></td>
								<td></td>
								<td colspan=1><span>Breeding Date </span><input type="text" class="datepicker" id="breedDate" name="breedDate"></td>
							</tr>
							<tr>
								<td colspan=1><span>Service Sire </span><input type="text" id="serviceSire2" name="serviceSire2"></td>
								<td colspan=1><span>Reg. No. </span><input type="text" id="regNum3" name="regNum3"></td>
								<td></td>
								<td colspan=1><span>Recovery Date </span><input type="text" class="datepicker" id="recoveryDate" name="recoveryDate"></td>
							</tr>
							<tr>
								<td colspan=1 class="indent"><span class="indent">I.D. Code </span><input class="indent" type="text" id="idCode2" name="idCode2"></td>
								<td colspan=1><span>Freeze Date or Batch No. </span><input type="text" id="freezeDate2" name="freezeDate2"></td>
								<td></td>
								<td colspan=1><span>No. Recovered </span><input type="text" id="numRecovered" name="numRecovered"></td>
							</tr>
							<tr>
								<td colspan=2></td>
								<td></td>
								<td colspan=1><span>No. Transferred </span><input type="text" id="numTransferred" name="numTransferred"></td>
							</tr>
							<tr>
								<td colspan=1><span>Signature </span><input type="text" id="signatureA" name="signatureA" disabled></td>
								<td colspan=1><span>ET Code </span><input type="text" id="etCodeA" name="etCodeA"></td>
								<td></td>
								<td colspan=1><span>No. Frozen </span><input type="text" id="numFrozen1" name="numFrozen1"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<hr>
				<div id="sectionB">
					<span class="center"><b>B. CERTIFICATE OF EMBRYO TRANSFER</b></span>
					<br>
					<table>
						<thead>
						</thead>
						<tbody>
							<tr>
								<td colspan=1><span>Date of Embryo Transfer </span><input type="text" class="datepicker" id="dateEmbryoTransfer" name="dateEmbryoTransfer"></td>
								<td></td>
								<td><span>Freeze date on str. or Amp. </span><input type="text" class="datepicker" id="freezeDate1" name="freezeDate1"></td>
								<td><span>Str. or Amp. Number </span><input type="text" class="datepicker" id="strAmpNumber1" name="strAmpNumber1"></td>
							</tr>
							<tr>
								<td colspan=1><span>Donor Days Since Estrus </span><input type="text" id="donorDaysSinceEstrus" name="donorDaysSinceEstrus"></td>
								<td></td>
								<td><input type="text" class="datepicker" id="freezeDate2" name="freezeDate2"></td>
								<td><input type="text" class="datepicker" id="strAmpNumber2" name="strAmpNumber2"></td>
							</tr>
							<tr>
								<td colspan=1><span>Cane Code </span><input type="text" id="caneCode" name="caneCode"></td>
								<td></td>
								<td><input type="text" class="datepicker" id="freezeDate3" name="freezeDate3"></td>
								<td><input type="text" class="datepicker" id="strAmpNumber3" name="strAmpNumber3"></td>
							</tr>
							<tr>
								<td colspan=2></td>
							</tr>
						</tbody>
					</table>
					<table id="tableB">
						<thead>
						</thead>
						<tbody>
							<tr>
								<td><img width=18px height=18px src="images/plus.png" id="plusB"><img width=18px height=18px src="images/minus.png" id="minusB"></td>
								<td><span>#</span></td>
								<td><span>Ear Tag</span></td>
								<td><span>Reg. No.</span></td>
								<td><span>Tattoo</span></td>
								<td><span>Side</span></td>
								<td><span>Breed Code</span></td>
								<td><span>Days Since Estrus</span></td>
								<td><span>Stage Code</span></td>
								<td><span>Quality Code</span></td>
								<td><span>Embryo Divided</span></td>
								<td colspan=2><span>Comments</span></td>
								<td><span>Results</span></td>
							</tr>
							<tr>
								<td></td>
								<td><input type="text" class="smallLine" id="number" name="number"></td>
								<td><input type="text" class="smallLine" id="earTag" name="earTag"></td>
								<td><input type="text" class="smallLine" id="regNum" name="regNum"></td>
								<td><input type="text" class="smallLine" id="tattoo" name="tattoo"></td>
								<td><input type="text" class="smallLine" id="side" name="side"></td>
								<td><input type="text" class="smallLine" id="breedCode" name="breedCode"></td>
								<td style="word-wrap: break-word !important;"><input type="text" class="smallLine" id="daysSinceEstrus" name="daysSinceEstrus"></td>
								<td><input type="text" class="smallLine" id="stageCode" name="stageCode"></td>
								<td><input type="text" class="smallLine" id="qualityCode" name="qualityCode"></td>
								<td><input type="text" class="smallLine" id="embryoDivided" name="embryoDivided"></td>
								<td colspan=2><input type="text" class="smallLine" id="commentsB" name="commentsB"></td>
								<td><input type="text" class="smallLine" id="results" name="results"></td>
							</tr>
						</tbody>
					</table>
					<span>Signature </span><input type="text" id="signatureB" name="signatureB" disabled>
					<span>ET Code </span><input type="text" id="etCodeB" name="etCodeB">
				</div>
				<br>
				<hr>
				<div id="sectionC">
					<span class="center"><b>C. CERTIFICATE OF FREEZING</b></span>
					<br>
					<span>Type of Container</span>
					<select class="smallFont" id="containerType">
						<option class="smallFont" value="straw">Straw</option>
						<option class="smallFont" value="ampule">Ampule</option>
						<option class="smallFont" value="other">Other</option>
					</select>
					<table id="tableC">
						<thead>
						</thead>
						<tbody>
							<tr>
								<td><img width=18px height=18px src="images/plus.png" id="plusC"><img width=18px height=18px src="images/minus.png" id="minusC"></td>
								<td colspan=2><span>Cane No.</span></td>
								<td><span>Str or Amp. No.</span></td>
								<td><span>No. Embryos/Str or Amp</span></td>
								<td><span>No. X Washed</span></td>
								<td><span>Stage Code</span></td>
								<td><span>Quality Code</span></td>
								<td><span>Zone Intact</span></td>
								<td><span>Divided</span></td>
								<td><span>Trypsin Rinsed</span></td>
								<td colspan=2><span>Comments</span></td>
							</tr>
							<tr>
								<td></td>
								<td colspan=2><input type="text" class="smallLine" id="caneNum" name="caneNum"></td>
								<td><input type="text" class="smallLine" id="strAmpNum" name="strAmpNum"></td>
								<td><input type="text" class="smallLine" id="numEmbryos" name="numEmbryos"></td>
								<td><input type="text" class="smallLine" id="numXWashed" name="numXWashed"></td>
								<td><input type="text" class="smallLine" id="stageCode" name="stageCode"></td>
								<td><input type="text" class="smallLine" id="qualityCode" name="qualityCode"></td>
								<td><input type="text" class="smallLine" id="zoneIntact" name="zoneIntact"></td>
								<td><input type="text" class="smallLine" id="divided" name="divided"></td>
								<td><input type="text" class="smallLine" id="trypsinRinsed" name="trypsinRinsed"></td>
								<td colspan=2><input type="text" class="smallLine" id="commentsC" name="commentsC"></td>
							</tr>
						</tbody>
					</table>
					<table>
						<thead>
						</thead>
						<tbody>
							<tr>
								<td colspan=3><span>Time (hours) from recovery to onset of freezing</span><input type="text" id="recoveryToFreezingTime" name="recoveryToFreezingTime"></td>
								<td colspan=3><span>Cryoprotectant & final molality</span><input type="text" id="cryoFinalMol" name="cryoFinalMol"></td>
							</tr>
							<tr>
								<td colspan=1><span>How Frozen: Seed Temp </span><input type="text" id="seedTemp" name="seedTemp"></td>
								<td colspan=4><span>Cooling Rate </span><input type="text" id="coolingRate" name="coolingRate"></td>
								<td colspan=1><span>Plunge temp </span><input type="text" id="plungeTemp" name="plungeTemp"></td>
							</tr>
							<tr>
								<td colspan=6><span>Recommended method of thawing </span><input type="text" id="thawingMethod" name="thawingMethod"></td>
							</tr>
							<tr>
								<td colspan=3><span>Signature </span><input type="text" id="signature3" name="signature3" disabled></td>
								<td colspan=3><span>ET Code </span><input type="text" id="etCode3" name="etCode3"></td>
							</tr>
							<tr>
								<td colspan=1><span>Stim pgm </span><input type="text" id="stimPgm" name="stimPgm"></td>
								<td colspan=1><span>Coll hr </span><input type="text" id="collHr" name="collHr"></td>
								<td colspan=1><span>Coll Tech </span><input type="text" id="collTech" name="collTech"></td>
								<td colspan=1><span>Stim Status </span><input type="text" id="stimStatus" name="stimStatus"></td>
								<td colspan=2><span>Comments </span><input type="text" id="comments3" name="comments3"></td>
							</tr>
							<tr>
								<td colspan=1><span>No. Emb </span><input type="text" id="numEmb" name="numEmb"></td>
								<td colspan=1><span>No. UFO </span><input type="text" id="numUFO" name="numUFO"></td>
								<td colspan=1><span>No. Deg </span><input type="text" id="numDeg" name="numDeg"></td>
								<td colspan=1><span>No. Trans. </span><input type="text" id="numTrans" name="numTrans"></td>
								<td colspan=1><span>No. Frozen </span><input type="text" id="numFrozen2" name="numFrozen2"></td>
								<td colspan=1><span>No. Split </span><input type="text" id="numSplit" name="numSplit"></td>
							</tr>
							<tr>
								<td colspan=1><span>Trans. hr </span><input type="text" id="transHr" name="transHr"></td>
								<td colspan=1><span>Loc </span><input type="text" id="loc" name="loc"></td>
								<td colspan=4><span>Comments </span><input type="text" id="comments" name="comments"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<input type="submit" class="btn btn-primary" id="viewPdf" value="View PDF"/>
				<div id="pdfRenderer"></div>
			</div>
		</div>
	</div>
	<div id="iframe-wrapper">
		<span id='close'>x</span>
		<iframe></iframe>
	</div>
	<%- include('../layout/footer') %>		<!--<script src="/js/formAbc.js"></script>-->
	<script src="/js/bundle.js"></script>
