<!doctype html>
  <html>
    <head>
      <script src="https://use.fontawesome.com/5a9dc3fa11.js"></script>
      <title><%= title %></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
      <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" class="nav-link" href=""><%= title %></a>
          </div>
          <ul class="nav navbar-nav pull-xs-right">
            <!-- use logic to see if logged in -->
            <% if(user.username != "Guest") { %>
              <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
              <li class="nav-item active"><a class="nav-link" href=""><span class="glyphicon glyphicon-user"></span>Welcome <%= user.username %>!</a></li>
              <% if(user.is_admin) { %>
                <li class="nav-item active"><a class="nav-link" href="/manageusers"><i class="fa fa-users" aria-hidden="true"></i>  Manage Users</a></li>
              <% } %>
              <li class="nav-item active"><a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
